.top-swiper  .swiper {
  width: 100%;
  height: 100%;
}

.top-swiper  .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-swiper  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-swiper  .swiper {
  margin-left: auto;
  margin-right: auto;
}











.bottom-swiper .swiper {
  width: 60vh;
  height: 80vh;
  padding: 50px;
  transform-style: preserve-3d;
}

.bottom-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.bottom-swiper .swiper-slide img {
  display: block;
  width: 100%;
}
