.top-swiper .swiper {
  width: 100%;
  height: 100%;
}

.top-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-swiper .swiper {
  margin-left: auto;
  margin-right: auto;
}

.bottom-swiper .swiper {
  width: 60vh;
  height: auto;
  padding: 50px;
  transform-style: preserve-3d;
}

.bottom-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.bottom-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

/* ======= RESPONSIVE BREAKPOINT ======= */
@media (max-width: 1024px) {
  .bottom-swiper .swiper {
    margin-top: 90px;
    width: 50vh;
    height: auto;
    padding: 50px;
    transform-style: preserve-3d;
  }
}

@media (max-width: 768px) {
  .bottom-swiper .swiper {
    margin-top: 90px;
    width: 50vh;
    height: auto;
    padding: 50px;
    transform-style: preserve-3d;
  }
}

@media (max-width: 640px) {
  .bottom-swiper .swiper {
    margin-top: 90px;
    width: 50vh;
    height: auto;
    padding: 50px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 480px) {
  .bottom-swiper .swiper {
 margin-top: 200px;
    width: 35vh;
    height: auto;
    padding: 50px;
    transform-style: preserve-3d;
  }
}



