@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4d3d30;
  --color-secondary: #703B3B;
  --color-accent: #e8e0d4;
}
@plugin "daisyui/theme" {
  name: "dark";
  /* --color-primary: red;
  --color-secondary: teal; */
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.racing-sans {
  font-family: "Racing Sans One", sans-serif;
  font-style: normal;
}
